<header class="header">
    <h1>{{head.title}}</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/realtimeproducts">Real Time</a></li>
            <li><a href="/apitester">API tester</a></li>
        </ul>
    </nav>
</header>